<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.dao.MarketDao">
	<select id="maxNum" resultType="int">
		select nvl(max(num), 0) from market
	</select>

	<select id="getDataCount" parameterType="map" resultType="int">
		select nvl(count(*), 0) from board where ${searchKey} like '%' || #{searchValue} || '%'
	</select>

	<select id="getLists" parameterType="map" resultType="Market">
		select * from(
		select rownum rnum, data.* from(
				select num, name, img, category, price, good
				from market where ${searchKey} like '%' || #{searchValue} || '%'
				order by num desc
				) data
			)
			
			<![CDATA[
			where rnum >= #{start} and rnum <= #{end}
			]]>
			
	</select>
	
	<select id="getReadData" parameterType="int" resultType="Market">
		select * from market where num = #{num}
	</select>
	
	<insert id="insertData" parameterType="Market">
		insert into market values(#{num}, #{name}, '/img/준비중.jpg', #{content}, #{category}, #{price}, '0')
	</insert>
</mapper>