<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/list.css" />
</th:block>
<div layout:fragment="content" id="bbs">
	<section class="py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="row gx-4 gx-lg-5 align-items-center">
				<div class="col-md-6">
					<img class="card-img-top mb-5 mb-md-0" th:src="${market.img}"
						alt="..." />
				</div>
				<div class="col-md-6">
					<div class="small mb-1" th:text="${market.category}"></div>
					<h1 class="display-5 fw-bolder" th:text="${market.name}"></h1>
					<div class="fs-5 mb-5">
						<span th:text="${market.price} + '원'"></span>
					</div>
					<p class="lead" th:text="${market.content}"></p>
					<div class="d-flex">

						<input type="button" class="btn btn-outline-dark flex-shrink-0" value="수정하기"
							th:onclick="|location.href='updated?num=@{${market.num}}&@{${params}}'|"  />
							&nbsp;&nbsp;
						<input type="button" class="btn btn-outline-dark flex-shrink-0" value="삭제하기"
							/>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</div>
</html>